trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: env
  displayName: 'Env'
- script: curl -s https://api.nest.saker.build/bundle/download/saker.build-v0.8.0 -o saker.build.jar
  displayName: 'Download saker.build'
- script: java -jar saker.build.jar -bd build test
  displayName: 'Test'  
- script: java -jar saker.build.jar -bd build export
  displayName: 'Export'
